* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
 font-family: 'Lato', sans-serif;
 color: #231F20;
}

/* Hamburger Menu */

.navbar {
 width: 300px;
 height: 50%;
 background-color: #FFBC25;
 position: fixed;
 top: 0;
 right: -300px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 31% 0 0 63%;
 z-index: 2;
 transition: right 0.8s cubic-bezier(1. 0, 0, 1);
}

.change {
 right: 0;
}

.hamburger-menu {
 width: 35px;
 height: 30px;
 position: fixed;
 top: 50px;
 right: 50px;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.line {
 width: 100%;
 height: 5px;
 background-color: #6CAB3F;
 transition: all 0.8s;
}

.change .line-1 {
 transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
 opacity: 0;
}

.change .line-3 {
 transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
 text-align: right;
}

.nav-item {
 list-style: none;
 margin: 15px;
}

.nav-link {
 text-decoration: none;
 font-size: 1.15em;
 color: white;
 letter-spacing: 1px;
 text-transform: uppercase;
 position: relative;
 padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
 content: "";
 width: 100%;
 height: 2px;
 background-color: #6B5581;
 position: absolute;
 /* z-index: 3; */
 left: 0;
 transform: scaleX(0);
 transition: transform 0.5s;
}

.nav-link::after {
 bottom: 0;
 right: 0;
 transform-origin: right;
}

.nav-link::before {
 top: 0;
 transform-origin: right;
}

.nav-link:hover::before
.nav-link:hover::after {
 transform: scaleX(1);
}
/* Hamburger Menu */

/* Homepage - Mobile */
#mobile-header {
 background-color: #552980;
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#mobile-header figure {
 text-align: center;
 margin: 25px 7%
}

#mobile-header figure img {
 justify-content: center;
 align-items: center;
 max-width: 375px;
 width: 75%;
}

#mobile-hero {
 position: relative;
}

.donate {
 position: absolute;
 top: 173px;
 right: 0px;
 z-index: 1;
}

div img {
 width: 100%;
 max-width: 100px;
}

#icecream-girl {
 width: 100%;
 max-width: 1500px;
}

#mission {
 background-color: #6CAB3F;
 margin-top: -3px;
 padding: 10px;
}

#mission p {
 color: white;
 border: white 2px solid;
 padding: 20px 5%;
 font-size: 1.15em;
}

#icons {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 250px;
 background-color: #6B5581;
}

#icons figure {
 text-align: center;
 padding: 0 5px;
}

#icons figure img {
 max-width: 100px;
 width: 70%;
}

#icons figure figcaption {
 padding-top: 10px;
}

#icons figure figcaption a {
 color: white;
 text-decoration: none;
}

#merry {
 position: relative;
}

#merry-slogan {
 position: absolute;
 top: 51%;
 left: 3%;
 color: white;
}

#merry-slogan p {
 font-size: 1rem;
}

#for {
 padding-bottom: 5px;
}

#families {
 padding: 5px 0 0 97px;
}

#merry-slogan span {
  font-size: 2rem;
  background-color: #552980;
  padding: 5px 10px 5px 27px;
}

#merry img {
 width: 100%;
 max-width: 2500px;
}

#divider {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 250px;
 background-color: #6B5581;
 position: relative;
 margin-top: -3px;
}

#divider:before {
 content: '';
 position: absolute;
 top: 50%;
 left: 0;
 border-top: 2px dashed white;
 width: 100%;
 transform: translateY(-50%);
}

#divider img {
 width: 100%;
 max-width: 50px;
}

#prince {
 position: relative;
}

#prince-slogan {
 position: absolute;
 color: white;
 top: 12%;
 left: 35%;
}

#prince-slogan p {
 font-size: 1rem;
 padding-bottom: 10px;
}

#prince-slogan span {
 font-size: 1.5rem;
 background-color: #FFBC25;
 padding: 5px;
}

#prince img {
 width: 100%;
 max-width: 2500px;
}

#carousel-day img {
 width: 100%;
 max-width: 2500px;
}

#slogan {
 background-color: #DB1937;
 height: 150px;
 margin-top: -3px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 5%;
}

#slogan img {
 width: 100%;
 max-width: 807px;
}

footer {
 text-align: center;
 padding: 30px 0;
}

footer figure img {
 width: 100%;
 max-width: 300px;
}

footer p {
 font-size: 1.1em;
 color:  #231F20;
}

#address {
 padding-top: 15px;
}

/* About Us - Mobile */

#about-hero img {
 width: 100%;
 max-width: 2500px;
}

#who-we-are {
 padding-bottom: 15px;
}

#who-we-are h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 10px 0 5px 0;
 border-bottom: #6CAB3F 30px solid;
 margin-left: 5%;
 color:  #231F20;
}

#who-we-are h4 {
 color: #552980;
 font-size: 1.1em;
 padding: 10px 5%;
}

#who-we-are p {
 font-size: 1em;
 padding: 10px 5%;
 color: #231F20;
}

#our-story {
 background-color: #FFBC25;
 padding: 30px 0;
}

#our-story h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 0 0 5px 0;
 margin-left: 5%;
 color: white;
 border-bottom: #552980 2px dashed;
}

#our-story figure {
 text-align: center;
 padding: 15px 0;
 color: #231F20;
}

#our-story figure img {
 width: 100%;
 max-width: 613px;
}

#our-story p {
 padding: 10px 5%;
 font-size: 1em;
 color: #231F20;
}

#village {
 padding: 20px 0;
}

#village h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 0 0 5px 0;
 border-bottom: #DB1937 30px solid;
 margin-left: 5%;
 color:  #231F20;
}

#village p {
 padding: 10px 5%;
 font-size: 1em;
 color: #231F20;
}

#bottom-castle img {
 width: 100%;
 max-width: 640px;
 border-bottom: #552980 30px solid;
}
/* About Us Mobile */

/* How to Help Mobile */
#village-top {
 text-align: center;
 padding: 20px 5%;
}

#village-slogan {
 display: flex;
 justify-content: center;
 align-items: center;
}

#village-slogan span {
 font-size: 1.5em;
 font-weight: 100;
 padding-right: 6px;
}

#village-slogan figure img {
 width: 100%;
 max-width: 150px;
}

h4 {
 text-align: left;
 padding: 20px 5% 10px;
 font-size: 1.25rem;
}

#middle-help figure img {
 width: 100%;
 max-width: 2500px;
}
/* How to Help Mobile */

/********************************** START 500PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 500px) {
 /* Homepage */
 #merry-slogan {
  top: 58%;
  left: 5%;
 }
 
 #merry-slogan p {
  font-size: 1.5rem;
 }
 
 #families {
  padding: 5px 0 0 124px;
 }
 
 #merry-slogan span {
  font-size: 3rem;
 }

 #prince-slogan {
  left: 32%;
 }

 #prince-slogan p {
  font-size: 1.5rem;
 }

 #prince-slogan span {
  font-size: 2rem;
  padding: 5px 7px;
 }

 /* About Page */
#village-top {
 display: flex;
 justify-content: center;
}

 #takes-village {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
 }
}
/********************************** END 500PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************** START 700PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 700px) {
 /* Homepage */
 #prince-slogan {
  left: 39%;
 }

 #prince-slogan span {
  padding: 5px 20px;
 }
}
/********************************** END 700PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************** START 850PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 850px) {
 /* Homepage */
 #prince-slogan span {
  font-size: 2.5rem;
 }
}
/********************************** END 850PX MIN-WIDTH MEDIA QUERY **************************************/