* {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
 font-family: 'Lato', sans-serif;
 color: #231F20;
}

.desktop-container {
   display: none;
}

.purple-box {
   display: none;
}

/* Hamburger Menu */

.navbar {
 width: 300px;
 height: 50%;
 background-color: #FFBC25;
 position: fixed;
 top: 0;
 right: -300px;
 display: flex;
 justify-content: center;
 align-items: center;
 border-radius: 31% 0 0 63%;
 z-index: 2;
 transition: right 0.8s cubic-bezier(1. 0, 0, 1);
}

.change {
 right: 0;
}

.hamburger-menu {
 width: 35px;
 height: 30px;
 position: fixed;
 top: 16px;
 right: 16px;
 cursor: pointer;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
}

.line {
 width: 100%;
 height: 5px;
 background-color: #6CAB3F;
 transition: all 0.8s;
}

.change .line-1 {
 transform: rotateZ(-405deg) translate(-8px, 6px);
}

.change .line-2 {
 opacity: 0;
}

.change .line-3 {
 transform: rotateZ(405deg) translate(-8px, -6px);
}

.nav-list {
 text-align: right;
}

.nav-item {
 list-style: none;
 margin: 15px;
}

.nav-link {
 text-decoration: none;
 font-size: 1.15em;
 color: white;
 letter-spacing: 1px;
 text-transform: uppercase;
 position: relative;
 padding: 3px 0;
}

.nav-link::before,
.nav-link::after {
 content: "";
 width: 100%;
 height: 2px;
 background-color: #6B5581;
 position: absolute;
 /* z-index: 3; */
 left: 0;
 transform: scaleX(0);
 transition: transform 0.5s;
}

.nav-link::after {
 bottom: 0;
 right: 0;
 transform-origin: right;
}

.nav-link::before {
 top: 0;
 transform-origin: right;
}

.nav-link:hover::before
.nav-link:hover::after {
 transform: scaleX(1);
}
/* Hamburger Menu */

/* Homepage - Mobile */
#mobile-header {
 background-color: #552980;
 height: 20%;
 display: flex;
 justify-content: center;
 align-items: center;
}

#mobile-header figure {
 text-align: center;
 margin: 25px 7%
}

#mobile-header figure img {
 justify-content: center;
 align-items: center;
 max-width: 375px;
 width: 75%;
}

#mobile-hero {
 position: relative;
}

.donate {
 position: absolute;
 top: 173px;
 right: 0px;
 z-index: 1;
}

div img {
 width: 100%;
 max-width: 100px;
}

#icecream-girl {
 width: 100%;
 max-width: 1500px;
}

#mission {
 background-color: #6CAB3F;
 margin-top: -3px;
 padding: 10px;
}

#mission p {
 color: white;
 border: white 2px solid;
 padding: 20px 5%;
 font-size: 1.15em;
}

.purple-mission {
   display: none;
}

#icons {
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 height: 250px;
 background-color: #6B5581;
}

#icons figure {
 text-align: center;
 padding: 0 5px;
}

#icons figure img {
 max-width: 100px;
 width: 70%;
}

#icons figure figcaption {
 padding-top: 10px;
}

#icons figure figcaption a {
 color: white;
 text-decoration: none;
}

#desktop-hero {
   display: none;
}

#merry {
 position: relative;
}

#merry-slogan {
 position: absolute;
 top: 51%;
 left: 3%;
 color: white;
}

#merry-slogan p {
 font-size: 1rem;
}

#for {
 padding-bottom: 5px;
}

#families {
 padding: 5px 0 0 97px;
}

#merry-slogan span {
  font-size: 2rem;
  background-color: #552980;
  padding: 5px 10px 5px 27px;
}

#merry img {
 width: 100%;
 max-width: 2500px;
}

#divider {
 display: flex;
 justify-content: center;
 align-items: center;
 height: 250px;
 background-color: #6B5581;
 position: relative;
 margin-top: -3px;
}

#divider:before {
 content: '';
 position: absolute;
 top: 50%;
 left: 0;
 border-top: 2px dashed white;
 width: 100%;
 transform: translateY(-50%);
}

#divider img {
 width: 100%;
 max-width: 50px;
}

#prince {
 position: relative;
}

#prince-slogan {
 position: absolute;
 color: white;
 top: 12%;
 left: 35%;
}

#prince-slogan p {
 font-size: 1rem;
 padding-bottom: 10px;
}

#prince-slogan span {
 font-size: 1.5rem;
 background-color: #FFBC25;
 padding: 5px;
}

#prince img {
 width: 100%;
 max-width: 2500px;
}

#carousel-day img {
 width: 100%;
 max-width: 2500px;
}

#slogan {
 background-color: #DB1937;
 height: 150px;
 margin-top: -3px;
 display: flex;
 justify-content: center;
 align-items: center;
 padding: 0 5%;
}

#slogan img {
 width: 100%;
 max-width: 807px;
}

footer {
 text-align: center;
 padding: 30px 0;
 z-index: 1000;
}

footer figure img {
 width: 100%;
 max-width: 300px;
}

footer p {
 font-size: 1.1em;
 color:  #231F20;
}

#address {
 padding-top: 15px;
}

/* About Us - Mobile */

#about-clipped-hero {
   display: none;
}

#about-hero img {
 width: 100%;
 max-width: 2500px;
}

#who-we-are {
 padding-bottom: 15px;
}

#who-we-are h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 10px 0 5px 0;
 border-bottom: #6CAB3F 30px solid;
 margin-left: 5%;
 color:  #231F20;
}

#who-we-are h4 {
 color: #552980;
 font-size: 1.1em;
 padding: 10px 5%;
}

#who-we-are p {
 font-size: 1em;
 padding: 10px 5%;
 color: #231F20;
}

#our-story {
 background-color: #FFBC25;
 padding: 30px 0;
}

#our-story h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 0 0 5px 0;
 margin-left: 5%;
 color: white;
 border-bottom: #552980 2px dashed;
}

#our-story figure {
 text-align: center;
 padding: 15px 0;
 color: #231F20;
}

#our-story figure img {
 width: 100%;
 max-width: 613px;
}

#our-story p {
 padding: 10px 5%;
 font-size: 1em;
 color: #231F20;
}

#village {
 padding: 20px 0;
}

#village h2 {
 font-family:'Sansita Swashed', cursive;
 font-size: 2rem;
 padding: 0 0 5px 0;
 border-bottom: #DB1937 30px solid;
 margin-left: 5%;
 color:  #231F20;
}

#village p {
 padding: 10px 5%;
 font-size: 1em;
 color: #231F20;
}

#bottom-castle img {
 width: 100%;
 max-width: 640px;
 border-bottom: #552980 30px solid;
}

#bottom-siblings {
   display: none;
}
/* About Us Mobile */

/* How to Help Mobile */
#village-top {
 text-align: center;
 padding: 20px 5%;
}

#village-slogan {
 display: flex;
 justify-content: center;
 align-items: center;
}

#village-slogan span {
 font-size: 1.5em;
 font-weight: 100;
 padding-right: 6px;
 width: 123px;
}

#village-slogan figure img {
 width: 100%;
 max-width: 150px;
}

h4 {
 text-align: left;
 padding: 20px 5% 10px;
 font-size: 1.25rem;
}

#middle-help figure {
   text-align: center;
}

#middle-help figure img {
 width: 100%;
 max-width: 600px;
}

/* Accordion Menu */
.accordion-menu {
 min-height: 100vh;
 width: 80%;
 margin: 20px;
 display: flex;
 flex-direction: column;
 align-items: center;
}

.accordion-menu h4 {
   font-family: "Sansita Swashed", cursive;
   color: #6CAB3F;
}

.title {
   font-size: 2rem;
}

.faq {
   max-width: 700px;
   margin-top: 2rem;
   padding-bottom: 1rem;
   border-bottom: 2px dashed #552980;
   cursor: pointer;
}

.question {
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.question h4 {
   font-size: 1.8rem;
   padding: 0;
}

.answer {
   max-height: 0;
   overflow: hidden;
   transition: max-height 1.4s ease;
}

.answer p {
   padding-top: 1rem;
   line-height: 1.4;
   font-size: 1.1rem;
}

.faq.active .answer {
   max-height: 300px;
   animation: fade 1s ease-in-out;
}

.faq.active svg {
   transform: rotate(180deg);
}

svg {
   transition: transform 0.5s ease-in;
}

@keyframes fade {
   from {
      opacity: 0;
      transform: translateY(-10px);
   }
   to {
      opacity: 1;
      transform: translateY(0px);
   }
}
/* Accordion */

/* Image Slider */

#bottom-help {
   text-align: center;
}

.slider {
   height: 500px;
   border-radius: 10px;
   overflow: hidden;
}

.slides {
   width: 500%;
   height: 500px;
   display: flex;
}

.slides input {
   display: none;
}

.slide {
   width: 20%;
   transition: 2s;
}

.slide img {
   width: 100%;
   max-width: 600px;
}

.navigation-manual {
   position: absolute;
   width: 100%;
   margin-top: -40px;
   display: flex;
   justify-content: center;
}

.manual-btn {
   border: 2px solid #552980;
   padding: 5px;
   border-radius: 10px;
   cursor: pointer;
   transition: 1s;
}

.manual-btn:not(:last-child) {
   margin-right: 40px;
}

.manual-btn:hover {
   background: #552980;
}

#radio1:checked ~ .first {
   margin-left: 0;
}

#radio2:checked ~ .first {
   margin-left: -20%;
}

#radio3:checked ~ .first {
   margin-left: -40%;
}

#radio4:checked ~ .first {
   margin-left: -60%;
}

.navigation-auto {
   position: absolute;
   width: 100%;
   display: flex;
   justify-content: center;
   margin-top: 460px;
}

.navigation-auto div {
   border: 2px solid white;
   padding: 5px;
   border-radius: 10px;
   transition: 1s;
}

.navigation-auto div:not(:last-child) {
   margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1 {
   background: #552980;
}

#radio2:checked ~ .navigation-auto .auto-btn2 {
   background: #552980;
}

#radio3:checked ~ .navigation-auto .auto-btn3 {
   background: #552980;
}

#radio4:checked ~ .navigation-auto .auto-btn4 {
   background: #552980;
}
/* Image Slider */

.weather {
   font-size: 2rem;
   text-align: center;
   margin: 32px 0;
   border-bottom: 30px solid #552980;
   padding-bottom: 35px;
}
/* How to Help Mobile */

/********************************** START 500PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 500px) {
 /* Homepage */
 #merry-slogan {
  top: 58%;
  left: 5%;
 }
 
 #merry-slogan p {
  font-size: 1.5rem;
 }
 
 #families {
  padding: 5px 0 0 124px;
 }
 
 #merry-slogan span {
  font-size: 3rem;
 }

 #prince-slogan {
  left: 32%;
 }

 #prince-slogan p {
  font-size: 1.5rem;
 }

 #prince-slogan span {
  font-size: 2rem;
  padding: 5px 7px;
 }

 /* About Page */
#village-top {
 display: flex;
 justify-content: center;
}

 #takes-village {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-width: 500px;
 }
}
/********************************** END 500PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************* START 650PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 650px) {
   #bottom-siblings {
      display: flex;
   }

   #bottom-siblings img {
      width: 100%;
      max-width: 640px;
      border-bottom: 30px #552980 solid;
   }

   .about-bottom {
      display: flex;
   }

   #bottom-castle, #bottom-siblings {
      width: 50%;
   }
}
/********************************* END 650PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************** START 700PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 700px) {
 /* Homepage */
   #prince-slogan {
   left: 39%;
   }

   #prince-slogan span {
   padding: 5px 20px;
   }

 /* How to Help page */
   #village-slogan figure img {
      max-width: 300px;
   }

   #mayor  {
      max-width: 236px;
   }
}
/********************************** END 700PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************** START 850PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 850px) {
 /* Homepage */
 #prince-slogan span {
  font-size: 2.5rem;
 }
}
/********************************** END 850PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************* START 1000PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 1000px) {
   #mobile-header {
		display: flex;
		justify-content: space-between;
      background-color: white;
	}
   
   .desktop-container {
      display: flex;
      width: 100%;
   }

   .desktop-menu {
		display: block;
		float: right;
		width: 50%;
		text-align: left;
		flex: 1;
		margin: auto 0;
      border-bottom: 2px #552980 dashed;
      padding-bottom: 10px;
	}

   .desktop-menu ul {
		list-style-type: none;
      margin: 30px 0 0 5%;
	}

	.desktop-menu ul li {
		display: inline;
		padding: 0 5%;
      font-size: 1.15em;
	}

	.desktop-menu ul li a {
		color: #231F20;
		transition: 1s;
		text-decoration: none;
	}

   .desktop-menu ul li a:hover {
		color: #FFBC25;
		transition: 1s;
	}

   /* .main-menu-labels {
      margin: 0;
      padding: 15px 0;
      background-color: #08254f;
      color: #fff;
      font-size: 18px;
    }

   .sub-menu-company {
      padding-left: 0;
      background-color: #dde1e7;
    }

    .sub-menu-company li {
      display: block;
      width: 100%;
      padding: 20px;
      border: 2px solid #fff;
      box-sizing: border-box;
    }

    .hide3 {
      opacity: 0;
    } */

   .donate {
      top: 90px;
      right: 46px;
   }

   .mobile-logo, .container {
      display: none;
   }

   /* Homepage */ 
   #mobile-hero, #icons {
      display: none;
   }

   #desktop-hero {
      display: flex;
   }

   .icecream-girl2 {
      width: 80%;
   }

   .icecream-girl2 img {
      width: 100%;
      max-width: 1300px;
   }

   #icons-aside {
      background-color: #6B5581;
      width: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3px;
      border-top: 2px white dashed;
      margin-top: -2px;
   }

   #icons-aside figure {
      text-align: center;
      margin: 25px;
   }

   #icons-aside figure figcaption a {
      color: white;
      text-decoration: none;
   }

   .mission-whole {
      display: flex;
   }

   #mission {
      width: 80%;
   }

   .purple-mission {
      display: flex;
      background-color: #6B5581;
      right: 0;
      width: 20%;
      margin-top: -3px;
      margin-left: -20px;
   }

   .purple-mission p {
      border-top: 2px white dashed;
      margin: 10px 0;
       width: 100%;
      border-bottom: 2px white dashed;
      color: #6B5581;
   }

   .homepage-footer {
      width: 100%;
   }
   
}
/*********************************** END 1000PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************* START 1170PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 1170px) {
   .purple-box {
      display: flex;
      width: 20%;
      height: 2530px;
      right: 0;
      background-color: #6B5581;
      position: absolute;
   }

   #purple-box-help {
      height: 2502px;
   }

   #purple-box-header {
      background-color: #6B5581;
      width: 20%;
      display: flex;
      justify-content: center;
      align-items: center;
   }

   #purple-box-header figure img {
      width: 100%;
      max-width: 60px;
   }

   .donate {
      top: 142px;
      right: 61px;
   }

   footer {
      width: 80%;
   }

   /* About page */
   #about-clipped-hero {
      display: block;
      width: 80%;
   }

   #about-clipped-hero img {
      width: 96%;
      max-width: 1400px;
      margin-left: 3%;
      margin-top: -2%;
   }

   #about-hero {
      display: none;
   }

   #who-we-are, #our-story, #village {
      width: 80%;
   }

   .together {
      display: flex;
      margin: 10px 5%;
   }

   .together figure {
      width: 40%;
   }

   .story-text {
      width: 60%;
   }

   .about-bottom {
      width: 80%;
   }

   /* How to Help page */
   #village-top, .navigation-auto, .navigation-manual, .weather {
      width: 80%;
   }

   #middle-help {
      display: flex;
      justify-content: space-around;
      width: 80%;
      margin-bottom: -20px;
      margin-top: 50px;
   }

   #middle-help figure {
      width: 40%;
      margin: 25px;
   }

   #bottom-help {
      width: 80%;
      background-color: #FFBC25;
      height: 578px;
      display: flex;
      align-items: center;
   }

   #accordion-menu {
      width: 60%;
   }

}
/********************************* END 1170PX MIN-WIDTH MEDIA QUERY **************************************/

/********************************* START 1400PX MIN-WIDTH MEDIA QUERY **************************************/
@media (min-width: 1400px) {
   .purple-box {
      height: 2750px;
   }
}
/********************************* END 1400PX MIN-WIDTH MEDIA QUERY **************************************/